#content {
  background: #F0F0F0;
}

#giphy-container {
  /*margin: 15px;*/
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.item {
  /*background: rgb(135, 199, 135);*/
  /*width: 120px;*/
}

.selected {
  outline: 7px solid #f79232;
  outline-offset: -7px;
}

.search-container {
  padding-left: 10px;
  padding-right: 40px;
}

/*.search-field {*/
  /*box-shadow: none;*/
  /*border: solid 1px #cccccc;*/
  /*border-radius: 3px;*/
  /*color: rgba(0, 0, 0, 0.6);*/
  /*height: 30px;*/
  /*margin: 10px 10px 0px 10px;*/
  /*padding-left: 22px;*/
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  /*background-image:url('../images/searchy_icon.png');*/
  /*background-repeat: no-repeat;*/
  /*background-color: #FFFFFF;*/
/*}*/
.search-field {
  box-shadow: none;
  border: solid 1px #cccccc;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  height: 30px;
  margin: 10px 10px 0px 10px;
  padding-left: 22px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background-image:url('../images/searchy_icon.png');
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}